*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
}

body{
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
}

header{
    color: yellow;
    font-size: 45px;
}
header p{
    font-weight: lighter;
}

section{
    padding: 30px 0;
    
}
section p{
    color: white;
    text-align: center;
}
section #welcome{
    font-size: 60px;
    padding: 20px 0;
}
section #disc{
    font-size: 25px;
    font-weight: lighter;
}

section #quote-box{
    text-align: center;
    color: white;
}

#container{
    position: relative;
    top: 50px;
    text-align: center;
}

#container h3{
    color: yellow;
    font-size: 30px;
    font-weight: lighter;
    padding: 15px 0;
}
#container p{
    font-size: 19px;
}
#container #quote{
    padding-bottom: 5px;
}
#container #author{
    padding: 4px 0;
}

#next{
    margin: 10px 0;
    width: 50px;
    height: 30px;
    color: yellow;
    background-color: black;
    outline: none;
    border: none;
    font-size: 20px;
}